<div class="container-admin">
  <!--  <div class="admin">-->
  <div class="container-options">
    <!-- Bouton pour ouvrir le menu déroulant -->
    <button [matMenuTriggerFor]="menu" class="options" mat-button>Options</button>
  </div>

  <!-- Menu déroulant -->
  <mat-menu #menu="matMenu">
    <button (click)="addUser()" mat-menu-item>
      <mat-icon>add</mat-icon>
      Ajouter un invité
    </button>

    <button (click)="fileInput.click()" mat-menu-item>
      <mat-icon>upload</mat-icon>
      Importer la liste d'invité
      <input #fileInput (change)="readFile($event)" accept=".json" hidden="hidden" type="file">
    </button>

    <button (click)="exportExcel()" mat-menu-item>
      <mat-icon>cloud_download</mat-icon>
      Exporter en Excel
    </button>

    <button (click)="exportUser()" mat-menu-item>
      <mat-icon>backup</mat-icon>
      Backup liste Invité
    </button>

    <button (click)="exportLogs()" mat-menu-item>
      <mat-icon>note</mat-icon>
      Exporter les logs
    </button>
  </mat-menu>
  <app-stats [statistics$]="attendanceStatistics$"></app-stats>
  <div class="container-list-user">
    <app-list-user></app-list-user>
  </div>
</div>
<!--</div>-->
