@use './src/sass/utils/mixins' as *;
@use './src/sass/utils/variables' as *;

.container-admin {
  width: 100%;

  .container-options {
    width: 100%;
    padding: 20px;

    .options {
      background-color: $gold;
      margin: 0 auto;
      color: $white !important;
    }
  }

  .container-list-user {
    width: 90%;
    margin: auto;
  }
}


