.containerInputCreate{
  padding-left: 25px;
}
.container-userForm{
  margin-top: 20px;
}
ul{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  li{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  li mat-icon{
    //display: flex;
    //justify-content: center;
    //align-items: center;
    //text-align: center;
    //margin-left: 10px;
    //background-color: red;
    //border-radius: 50%;
    //padding: 20px;
  }
}
.container-list-user{
  width: 90%;
  margin: auto;
}
