@use './src/sass/utils/mixins';

.container-admin {

}

.containerInputCreate {
}

.container-userForm {
}


ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: center;
  padding: 20px 25px;

  li {
    width: 100%;
    @include mixins.center-flex();
  }

  .excel {
    &--link {
      display: flex;
      width: 100%;
      padding-top: 10px;
      //justify-content: flex-end;
    }

    &--icon {
      width: 100%;
      font-size: 40px;
      height: 100%;
    }
  }

}

.container-list-user {
  width: 90%;
  margin: auto;
}
