<div class="container-header">
  <mat-toolbar color="primary">
    <div class="wrap-mat-button">
      <a mat-button routerLink="/home" routerLinkActive="active">
        <div aria-label="Example icon-button with share icon" class="icon-wrapper">
          <mat-icon fontIcon="home" ></mat-icon>
          <span>Accueil</span>
        </div>
      </a>
      <a mat-button routerLink="/activity" routerLinkActive="active">
        <div class="icon-wrapper">
<!--            <img src="./assets/img/activity.png" alt="" srcset="">-->
          <mat-icon fontIcon="rowing">
          </mat-icon>
          <span>Activité</span>
        </div>
      </a>
      <a mat-button routerLink="/info" routerLinkActive="active">
        <div class="icon-wrapper">
          <mat-icon fontIcon="info"></mat-icon>
          <span>Info</span>
        </div>
      </a>
      <a *ngIf="admin" mat-button routerLink="/admin" routerLinkActive="active">
        <div class="icon-wrapper">
          <mat-icon fontIcon="admin_panel_settings"></mat-icon>
          <span>Admin</span>
        </div>
      </a>
    </div>
  </mat-toolbar>
</div>
