mat-toolbar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 70px;
  background-color: white !important;
  .wrap-mat-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  a {
    width: 10%;
  }

  mat-icon {
    position: sticky;
    bottom: 0;
    z-index: 1000;
    padding: 15px;
    font-size: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #43a047;
    transition: color 0.5s ease-out;
  }
}

.active {
  mat-icon {
    color: #d2cf28;
  }
}
