@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.container-activity  {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  width: 100%;
  .container-dropList{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.container-glass {
  position: relative;
  padding: 2rem 1.5rem;
  width: 80%;
  max-width: 600px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 22px rgba(0, 0, 0, 0.08);
  margin-bottom: 2rem;
}

.container-glass .img {
  width: 100%;
  border-radius: 7px;
}

.container-glass .text {
  font-size: 1.5rem;
  color: #65601f;
  margin: 2rem 0;
  text-align: justify;
}

.container-glass .btn {
  display: block;
  margin: auto;
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  width: 80%;
  max-width: 200px;
  padding: 0.6rem 1rem;
  background-color: transparent;
  border: 1px solid #7f6e00;
  border-radius: 5px;
  color: #7f6e00;
  cursor: pointer;
  transition: all 0.2s linear;
}

.container-glass .btn:hover {
  background-color: #ffdd00;
  color: #333;
}
