<div class="container-input">
  <mat-form-field appearance="outline">
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="updateFilter($event)" type="text" name="" id="">
  </mat-form-field>
</div>
<div>
  <p *ngIf="users.length" class="invite"><span> {{users.length}}</span> invités avec un numero</p>
</div>
<mat-table matSort [dataSource]="dataSource">
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Id</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{user.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Prénom</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{user.username | titlecase}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{user.name | titlecase}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="statusUser">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Statut</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{user.statusUser | titlecase}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="choice">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Participe</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{user.choice | titlecase}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="tel">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Tel</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{user.tel}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="menu">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Menu</mat-header-cell>
    <mat-cell *matCellDef="let user">
      {{user.menu}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="accompaniement">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Inviter</mat-header-cell>
    <mat-cell *matCellDef="let user">
    <div class="container-invite">
      <ng-container *ngFor="let user of user.accompaniement">
        <div>
          <span> {{user.name | titlecase}}  {{user.username | titlecase}} </span>
          <br/>
          <span>{{user.menu}} <br/> {{user.allergie}}</span>
        </div>
        <br/> <!-- Use br if you want to display the roles vertically -->
      </ng-container>
    </div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
    <mat-cell *matCellDef="let user">
      <div class="action">
        <div class="container-btn">
          <button mat-raised-button color="primary" (click)="onRowClicked(user)"><mat-icon fontIcon="edit"></mat-icon></button>
          <button mat-raised-button color="warn" (click)="onRowClicked(user.id)"><mat-icon fontIcon="delete"></mat-icon></button>
        </div>
      </div>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  <!--  <mat-row *matRowDef="let row; columns: displayedColumns" (click)="onRowClicked(row)"></mat-row>-->
</mat-table>
<div *ngIf="!dataSource.filteredData.length"> Aucun résultat ne corespond à votre recherche</div>
