.container-input{
  padding-top: 50px;
  text-align: center;
}
.demo-table {

  //border: darkred solid 3px ;
}
table{


}
.mat-column-id,.mat-column-accompaniement,.mat-column-menu,.mat-column-action,.mat-column-tel,.mat-column-choice{
  width: 10%;
  //border-right: 1px solid currentColor;
  //border: darkred solid 3px ;
  //padding-right: 24px;
  //background-color: red;
  text-align: center;
}
span .mat-header-cell{
  font-weight: bold;
}

.mat-column-name {
  width: 100px;
  //border: green solid 3px ;
  padding-left: 16px;
  color: darkred;
  font-size: 20px;
}

.mat-column-username {
  width: 100px;
  //color: red !important;
  font-style: italic;
}
.mat-column-action{
  width: 100%;
  button:first-child{
    margin-right: 10px;
  }
}
//.mat-column-choice {
//  width: 100px;
//  text-align: center;
//  font-weight: bold;
//}
//.mat-mdc-row .mat-mdc-cell {
//  border-bottom: 5px solid red;
//  border-top: 1px solid transparent;
//  cursor: pointer;
//}
//
//.mat-mdc-row:hover .mat-mdc-cell {
//  border-color: blue;
//}
