@use './src/sass/utils/mixins' as *;

.container-input {
  padding-top: 50px;
  text-align: center;

  mat-form-field {
    input: {
      color: red;
      border-color: red;
    }
  }
;
}

mat-table {
  overflow-y: scroll;
  height: 80vh;
  padding: 20px;
  margin-bottom: 70px;
  //min-height: 500px;
  position: relative;
}

.mat-column-id, .mat-column-accompaniement, .mat-column-menu, .mat-column-action, .mat-column-tel, .mat-column-choice, .mat-column-statusUser {
  min-width: 100px;
  text-align: center;
}

span .mat-header-cell {
  font-weight: bold;
  position: fixed;
}

.mat-column-name {
  min-width: 100px;
  padding-left: 16px;
  color: darkred;
  font-size: 18px;
}

.mat-column-username {
  min-width: 100px;
  font-style: italic;
}

.mat-column-action {
  @include center-flex;
  text-align: center;

  button {
    text-align: center;
    width: 10px;
    padding: 0;
    margin: 0;

    mat-icon {
      margin: 0;
      text-align: center;
      padding: 0;
    }
  }
}

.container-inviter {
  display: flex;
  justify-content: center;
}

.invite {
  color: white;
  background-color: #827717;
  margin: 2px 2px;
  display: inline-block;
  text-align: center;
  padding: 5px;

  span {
    margin-right: 2%;
    //font-size: 20px;
    font-weight: 400;
  }
}
