.container-app-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.container-all {
  position: relative;
  height: calc(100vh);
  background-color: #fff;

}
.containerInputCreate{
  display: flex;
  justify-content: center;
  width: 100%;
  input{
    position: absolute;
    padding: 20px;
    z-index: 20;
  }
}

.container-outlet {
  //height: 100%;
  position: relative;
  height: calc(100vh - 4em);
  min-height: calc(100vh - 4em);
  z-index: 2;
  padding-bottom: 4em;

}
