.container-all {
  position: relative;
  min-height: 100vh;
  max-width: 425px;
  //background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../assets/img/bgc1.jpg");
  background-image: url("../assets/img/bgc1.jpg");

  //background-blend-mode: overlay;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow-y: scroll;

  &__container-outlet {
    min-height: calc(100vh - 70px);
    padding-bottom: 70px;
  }

  &__app-header {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 40;
  }
}
