@use '../../sass/utils/_mixins';

.form {
  @include mixins.center-flex();

  .form__form-field {

  }
  input {
    text-transform: capitalize;
    width: 100%;
    padding: 1%;
    margin: 1%;
  }

}
.custom-form-field {
  color: red !important; /* Remplacez "red" par la couleur souhaitée */
}
