<div class="container-userForm">
  <div class="container-form">
    <form class="form" [formGroup]="form">
      <div class="container-field">
        <input formControlName="name" [attr.id]="'myInput' + index" class="form__input" placeholder=" " type="text"/>
        <label [attr.for]="'myInput' + index" class="form__label">Entrez votre nom</label>
      </div>

      <div class="container-field">
        <input formControlName="username" [attr.id]="'myInput' + (index + 1)" class="form__input" placeholder=" " type="text"/>
        <label [attr.for]="'myInput' + (index + 1)" class="form__label">Entrez votre prenom</label>
      </div>

      <div class="container-field">
        <input formControlName="tel" [attr.id]="'myInput' + (index + 2)" class="form__input" placeholder=" " type="text"/>
        <label [attr.for]="'myInput' + (index + 2)" class="form__label">Entrez votre numero</label>
      </div>

      <div class="container-field">
<!--        <label [attr.for]="'mySelect' + index" class="form__label">Choisissez un plat</label>-->
        <select formControlName="menu" [attr.id]="'mySelect' + index" class="form__select">
          <option disabled value="">Choisissez un plat</option>
          <option *ngFor="let dish of menu;" [value]="dish">{{dish}}</option>
        </select>
        <ng-container *ngIf="form.get('menu')">
          <div *ngIf="form.get('menu').invalid && form.get('menu').touched" class="error-message">
            Selectionnez un plat.
          </div>
        </ng-container>
      </div>

      <div class="container-field">
        <textarea formControlName="allergie" [attr.id]="'myInput' + (index + 3)" class="form__textarea" placeholder=" " type="text"></textarea>
        <label [attr.for]="'myInput' + (index + 3)" class="form__label">rentrez vos allergie</label>
      </div>

    </form>
  </div>
</div>
