/* You can add global styles to this file, and also import other style files */

@use "sass/base/reset" as *;
@use "sass/utils/mixins" as *;
@use "sass/utils/variables" as *;
@use "sass/themes/theme" as *;

html{
  height: 100%;
}
body{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logout{
  position: absolute;
  right: -40px;
  top: 0px;
  fill: $red;
  cursor: pointer;
  z-index: 10;
  width: 38px;
  height: 52px;
  border-radius: 5px;
  transform: scale(0.9);
  background: rgba(255,255,255,0.5);
  transition: all 0.3s ease-in-out;
  &:active,&:hover{
    fill: $gold;
    right: -45px;
    transform: scale(1);
    background: rgba(255,255,255,0.7);

  }
}

.disabled {
  background: $disabled !important;
  pointer-events: none;
}

.error-message {
  position: absolute;
  color: #870d0d;
  font-weight: 500;
  margin-top: 5px;
  top: 0;
  left: 10px;
  font-size: 13px;
}

.lockIcon{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: $black;
}
.lockIcon1{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-60%);
  color: $black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
input:-internal-autofill-selected,
input:disabled
{
  background-color: rgba(255, 255, 255, 0.7) !important; // couleur de fond lorsque l'autocomplétion est utilisée
  color: $black !important; // couleur du texte
}
input:-internal-autofill-selected {
  appearance: none; // désactive l'apparence par défaut du bouton menulist
  background-image: none !important;
  background-color: rgba(255, 255, 255, 0.7) !important; // changez à la couleur souhaitée
  color: $black !important; // changez à la couleur souhaitée
}

//.toast-success {
//  background-color: #d7c43c !important;
//}
/* Largeur de la scrollbar */
//.container-all::-webkit-scrollbar {
//  width: 10px;
//}
//
///* Couleur de fond de la scrollbar */
//.container-all::-webkit-scrollbar-track {
//  background: #115af3;
//}
//
///* Couleur de la poignée (thumb) de la scrollbar */
//.container-all::-webkit-scrollbar-thumb {
//  background: #ff0000;
//}
//
///* Au survol de la poignée de la scrollbar */
//.container-all::-webkit-scrollbar-thumb:hover {
//  background: #56e824;
//}
/* Votre style personnalisé pour la scrollbar */
.container-all .ss-content::-webkit-scrollbar {
  width: 10px;
}

.container-all .ss-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.container-all .ss-content::-webkit-scrollbar-thumb {
  background: #888;
}

.container-all .ss-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}
