@use '../../sass/utils/_mixins' as *;
@use '../../sass/utils/variables' as *;
@use '../../sass/base/typography' as *;

.container-home {
  @include center-flex;
  position: relative;
}

.hero {
  margin-top: 80px;
  background-color: white;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 50px;
  color: $gold;
  width: 90%;
  max-width: 500px;

  &__name {
    margin: 5% 0;
    font-family: $kingham, sans-serif;
    position: relative;

    &:first-child::before {
      content: "\201c";
      font-family: initial;
      position: absolute;
      top: -14px;
      left: -43px;
      font-size: 65px;
    }

    &:last-child::after {
      content: "\201d";
      font-family: initial;
      position: absolute;
      top: 26px;
      right: -47px;
      font-size: 65px;
    }
  }

  &__title {
    @include center-flex;
  }

  &__subtitle {
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    font-family: $greenlight, sans-serif;

    &:last-child {
      font-family: $greenlight, sans-serif;
      font-size: 23px;
      margin-top: 15px;
    }
  }
}

.container__hero__subtitle {
  color: #134327;
}

.form {
  @include center-flex;
  margin-top: 3rem;
  margin-bottom: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  position: relative;
  opacity: 0;

  &__input {
    padding: 15px 10px;
    font-size: 1.2rem;
    font-family: Roboto, sans-serif;
    border: 0;
    color: #211f1f;
    background-color: rgba(255, 255, 255, 0.7);
    outline: 0;
    text-align: center;
    font-weight: 500;
    text-shadow: white 0 0.5px .5px;

    &:placeholder-shown ~ .form__label {
      transition: all 0.5s ease;
    }

    &:focus {
      box-shadow: 0 0 5pt 1pt #3c4f09;

      ~ .form__label {
        opacity: 0;
        transform: translateY(-20px);
      }
    }

    &:not(:placeholder-shown) ~ .form__label {
      opacity: 0;
      transform: translateY(-20px);
    }
  }

  &__label {
    position: absolute;
    padding: 1px 5px;
    color: #211f1f;
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    @include center-flex;
    text-align: center;
    font-weight: 500;
  }

  &__error {
    opacity: 0;
    color: #870d0d;
    font-weight: 500;
    position: absolute;
    top: 1px;
    left: 5px;
  }

  &__error--error {
    opacity: 1;
  }
}

.choice {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 120px;
  align-items: center;

  &__btn-participe {
    color: #fff;
    background-color: #43a047;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 25px 15px;
  }

  &__btn-absent {
    background-color: #000 !important;
    width: 80% !important;
  }
}

.modif {
  .modif__btn-modif {
    color: #fff;

  }
}

.modif, .updateBtn {
  text-align: center;
  @include center-flex;
  margin-bottom: 2rem;
}

.textAbsent {
  @include center-flex;
  text-align: center;
  line-height: 2;
  padding: 2.5rem 1.5rem;
  width: 80%;
  max-width: 600px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  color: $b1Black;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  margin-bottom: 2rem;
}

.lockIcon {
  transform: translateY(-90%);
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.fadeInDown {
  animation: 1s fadeInDown;
}

.fadeInDown1 {
  animation: 0.8s 0.2s fadeInDown forwards;
}

.shakeX {
  animation: 0.5s shakeX;
  border: 2px solid $red;
}
.notif{
  margin: 20px 0 0 20px;
  color: #000;
}
