<div class="container-home">
  <div class="hero">
    <div class="hero__title">
      <div class="hero__name">Andre</div>
      <div class="hero__name">&</div>
      <div class="hero__name">Stella</div>
    </div>
    <p class="hero__subtitle">Se marient</p>
  </div>
  <form class="form " [formGroup]="form">
    <input (input)="submit($event)" formControlName="numero" id="myInput" class="form__input" placeholder=" " type="text"/>
    <label for="myInput" class="form__label" >Entrer votre numéro</label>
    <span class="form__error"  [ngClass]="{'form__error--error': errorFormulaire && form.touched}">Numéro Invalide</span>
  </form>
<!--    <form class="form form&#45;&#45;error" [formGroup]="form">-->
<!--      <mat-form-field class="form-field" appearance="outline">-->
<!--        <mat-label  class="form__label" [ngClass]="{'error1': errorFormulaire && form.touched}">Entrer votre numéro</mat-label>-->
<!--        <input style="border: transparent" class="form__input" matInput (input)="submit($event)" type="text" placeholder="" formControlName="numero">-->
<!--        <mat-error class="form__error">Numero de billet invalide</mat-error>-->
<!--      </mat-form-field>-->
<!--    </form>-->
  <ng-container *ngIf="user">
    <ng-container [ngSwitch]="user.choice">
      <div class="all" *ngSwitchCase="'all'">
        <button color="primary" class="btnParticipe btn btn-primary" type="button" (click)="btnChoice('p')" mat-raised-button>Je serais présent</button>
        <button color="accent" class="btnAbsent" type="button" mat-raised-button (click)="btnChoice('a')">Je serais absent</button>
      </div>
      <div *ngSwitchDefault>
        <div class="container-modif">
          <button *ngIf="user.choice !== 'all';"
                  mat-button (click)="showModifChoice = true"
                  color="warn" class="btnAbsent" type="button">Modifier mon choix ?
          </button>
        </div>
        <div class="updateBtn" *ngIf="showModifChoice">
          <app-button
            [btnSetting]="user"
            (btnEvent)="btnChoice($event)"
            mat-raised-button color="primary">

          </app-button>
        </div>
        <p *ngIf="user.choice === 'a'" class="textAbsent">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum illo libero minima nam necessitatibus non provident quia rem repellendus tenetur?</p>
        <div *ngIf="user.choice === 'p'">
          <app-user-profile></app-user-profile>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>


