<div class="container-home">
  <div class="bienvenu ">
    <div class="titulaire">
      <div class="name">Andre</div>
      <div class="name">&</div>
      <div class="name">Stella</div>
    </div>
    <p class="welcome">se marient </p>
  </div>
  <!--  <p>Veuillez insérez votre numéro</p>-->
  <div class="container-form ">
    <form class="registration error1" [formGroup]="form" >
      <div *ngIf="!absent" class="error2">

      <mat-form-field appearance="outline" class="error1">
        <mat-label  [ngClass]="{'error1': errorFormulaire && form.touched}">Numéro</mat-label>
        <input  matInput (input)="submit($event)" type="text" placeholder="Entrer votre numero" formControlName="numero" >
      </mat-form-field>
        <p #span [ngClass]="{'error1': errorFormulaire && form.touched}" *ngIf="errorFormulaire && form.touched"> Numero de billet invalide</p>

      </div>

<!--      <span class="error1" *ngIf="form.controls"> numero de réservation invalide</span>-->
      <!--      <div class="formGroupButton" >-->
      <!--        <button class="buttonSub"  type="submit">Valider</button>-->
      <!--      </div>-->
    </form>
  </div>
  <div *ngIf="absent">
    <p>Au revoir</p>
  </div>
  <div *ngIf="isLoggedIn" [@inOutAnimation] class="formGroupButton participe">
    <button color="primary" *ngIf="!absent" class="btnParticipe btn btn-primary" type="button" (click)="presentBtn()" mat-raised-button >Je serais présent</button>
    <button color="accent" *ngIf="!absent" class="btnAbsent" type="button" mat-raised-button (click)="absBtn()">Je serais absent</button>
    <button color="warn" *ngIf="absent" class="btnAbsent" type="button" mat-raised-button (click)="modifBtn()">Modifier mon choix</button>
  </div>
</div>

