.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  input{
    width: 400px;
  }
}
.container-app-form{
  margin-bottom: 10%;
app-user-form{
  width: 100%;
}
}
.container-btn-supprimer{
  margin: 10% 0;
  text-align: center;
}
.container-add-inviter{
  text-align: center;
  margin-bottom: 10%;
}
