@use './src/sass/utils/variables' as *;
@use './src/sass/utils/mixins' as *;

.registration-form {
  .form-container {
    &--container {
    @include center-flex();
      width: 100%;
      color: white;

      input {
        width: 400px;
      }
    }

    &__guest-title {
      //background: linear-gradient(75deg, #0a0a09, #2bcbcbc2, #2e5d43);
      background-clip: text;
      color: $white;
      text-align: center;
      font-family: "bird";
      font-size: 40px;
      -webkit-text-stroke: 1px;
      -webkit-text-stroke-color: #000;

      &__number {
        //background: linear-gradient(75deg, #0a0a09, #2bcbcbc2, #2e5d43);
        background-clip: text;
        color: $white;
        font-family: "a Black Lives";
        font-size: 45px;
        -webkit-text-stroke: 1px;
        -webkit-text-stroke-color: #000;
      }
    }

    &__guest-form-container {
      margin-bottom: 10%;

      app-user-form {
        width: 100%;
      }
    }

    &__delete-guest-button {
      margin: 10% 0;
      text-align: center;

      button {
      background-color: $red !important;
        color: #fff;
      }
    }

    &__add-guest-container {
      text-align: center;
      margin-bottom: 10%;

      button {
        color: #fff;
        background-color: #4caf50;
        padding: 10px 15px;
        border-radius: 5px;
        outline: transparent;
        border: none;
      }
    }
  }
}

